# Import Necessary Libs

In [1]:
seed = 999

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import random

In [3]:
np.random.seed(seed)
random.seed(seed)

## Load Dataset

In [4]:
import os
os.chdir('C:/Users/Mashal/Documents/Projects/MAL Recommender System')

# Split Dataset into Training Dataset and Testing Dataset

In [5]:
full_df = pd.read_csv('../animelists_cleaned.csv')
full_df

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,2013-03-03 10:52:53,NaN
1,karthiga,59,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-10 13:54:51,NaN
2,karthiga,74,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-04-27 16:43:35,NaN
3,karthiga,120,26,0000-00-00,0000-00-00,7,2,NaN,0,2013-03-03 10:53:57,NaN
4,karthiga,178,26,0000-00-00,0000-00-00,7,2,0.0,0,2013-03-27 15:59:13,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31284025,Yokonightcore,15611,48,2014-00-00,0000-00-00,9,1,NaN,0,2015-09-07 17:33:03,NaN
31284026,Yokonightcore,27815,22,0000-00-00,0000-00-00,9,1,NaN,0,2015-09-07 17:32:05,NaN
31284027,wargod,5945,39,0000-00-00,0000-00-00,8,2,0.0,0,2010-03-29 04:24:12,NaN
31284028,JMc_SetoKai_LoVe,1316,52,0000-00-00,0000-00-00,9,2,NaN,0,2009-12-23 05:45:14,NaN
31284029,hinogurl_mikha,1744,58,0000-00-00,0000-00-00,10,1,0.0,0,2008-04-05 11:36:20,NaN

Drop rows where username is missing

In [6]:
full_df = full_df.dropna(subset=['username'])

Get a sample of 10% of the rows

In [7]:
# random_state for reproducibility
anime_df = full_df.sample(frac=0.001, random_state=seed)  
print(anime_df)

                username  anime_id  my_watched_episodes my_start_date  \
12140562     blender1423     11887                   13    0000-00-00
10344646       Saranyaan     22297                    0    0000-00-00
11017077   werewolfofusa     12069                    1    0000-00-00
9601319        wizardsky     24277                   24    0000-00-00
4907282            Sadid     28977                    0    0000-00-00
...                  ...       ...                  ...           ...
4247933   AugustusGaspar     34984                    0    0000-00-00
25906237    eau-de-gloom     19383                   13    0000-00-00
26583048        pabblete      8795                   13    0000-00-00
3962380         idlezeal      6007                    1    0000-00-00
11252868         Daisuki     35376                    0    0000-00-00

         my_finish_date  my_score  my_status  my_rewatching  my_rewatching_ep  \
12140562     0000-00-00         7          2            0.0                 0
10344646     0000-00-00         0          6            0.0                 0
11017077     0000-00-00        10          2            0.0                 0
9601319      0000-00-00         8          2            0.0                 0
4907282      0000-00-00         0          6            0.0                 0
...                 ...       ...        ...            ...               ...
4247933      0000-00-00         0          6            0.0                 0
25906237     0000-00-00         8          2            0.0                 0
26583048     0000-00-00         8          2            NaN                 0
3962380      0000-00-00         6          2            0.0                 0
11252868     0000-00-00         0          6            0.0                 0

              my_last_updated    my_tags
12140562  2017-09-04 13:42:06        NaN
10344646  2014-09-06 00:04:07        NaN
11017077  2012-03-21 20:22:44        NaN
9601319   2017-01-27 18:37:34        NaN
4907282   2018-04-04 15:11:06        NaN
...                       ...        ...
4247933   2017-08-05 06:03:14        NaN
25906237  2018-03-26 11:49:58        NaN
26583048  2011-04-08 23:27:18        NaN
3962380   2010-05-01 08:09:21        NaN
11252868  2017-04-25 11:44:06  Fall 2017

[31284 rows x 11 columns]

In [8]:
unique_ids = anime_df['anime_id'].unique()
# Gets list of unique IDs and sorts them
unique_ids = np.sort(unique_ids)
# Contains translations from anime IDs to numpy array indices
idToInd = {}
# Initialises array to size of unique IDs, but will change contents to ascending order
indToId = np.array(unique_ids)
for i in range(len(unique_ids)):
    idToInd[unique_ids[i]] = i
    indToId[i] = unique_ids[i]

Adds user ID column

In [9]:
anime_df['user_id'] = pd.factorize(anime_df['username'])[0]

In [10]:
train_df, test_df = train_test_split(anime_df, test_size=0.2)
train_df, test_df

(               username  anime_id  my_watched_episodes my_start_date  \
 27830841    Shortredguy      5682                    0    0000-00-00
 6174958        Flairway     15109                   12    0000-00-00
 18489765         ance25      2743                    0    0000-00-00
 15058251   Sorrowsenpai      5702                    4    0000-00-00
 1384018   TheVirginMary      9989                   11    0000-00-00
 ...                 ...       ...                  ...           ...
 2612752     TCarneiro71     35203                   12    2017-07-11
 16222571  crimsonking12       658                   26    0000-00-00
 28689727    AisakiPanda      4722                   25    0000-00-00
 19170851    Akari-Light        20                  135    0000-00-00
 27230616   SophiaHyuuga     23847                   13    2015-04-07

          my_finish_date  my_score  my_status  my_rewatching  my_rewatching_ep  \
 27830841     0000-00-00         0          6            0.0                 0
 6174958      0000-00-00         7          2            0.0                 0
 18489765     0000-00-00         0          6            0.0                 0
 15058251     0000-00-00         5          2            0.0                 0
 1384018      2011-06-25        10          2            0.0                 0
 ...                 ...       ...        ...            ...               ...
 2612752      2017-09-26         7          2            0.0                 0
 16222571     0000-00-00         7          2            NaN                 0
 28689727     0000-00-00        10          2            0.0                 0
 19170851     0000-00-00        10          1            0.0                 0
 27230616     2015-09-13         7          2            0.0                 0

               my_last_updated my_tags  user_id
 27830841  2010-12-21 01:19:25     NaN     6361
 6174958   2013-04-24 01:17:37     NaN     5646
 18489765  2008-09-29 08:21:57     NaN     1954
 15058251  2017-07-27 00:31:53     NaN     9098
 1384018   2011-06-25 12:09:43     NaN      140
 ...                       ...     ...      ...
 2612752   2017-09-26 19:39:21     NaN     5517
 16222571  2012-07-12 04:19:45     NaN    14512
 28689727  2013-12-28 21:02:20     NaN    11649
 19170851  2011-03-17 00:58:40     NaN    11236
 27230616  2015-09-13 15:10:47     NaN     6043

 [25027 rows x 12 columns],
                   username  anime_id  my_watched_episodes my_start_date  \
 6338865             Lolaso     27989                    0    0000-00-00
 19222960       hidekeitaro     22547                    2    0000-00-00
 24249679             Naoti      6956                    0    0000-00-00
 20212740            Tangro      1135                    1    0000-00-00
 12876344           4X_XR3Y     15201                    1    0000-00-00
 ...                    ...       ...                  ...           ...
 22139352         Clisthert      1734                    4    0000-00-00
 23729223  Undercover_Otaku      2112                    1    0000-00-00
 360848             bibassi         6                    0    0000-00-00
 3804210           makube-x       244                    0    0000-00-00
 6634684               Xari      5114                    0    0000-00-00

          my_finish_date  my_score  my_status  my_rewatching  my_rewatching_ep  \
 6338865      0000-00-00         0          4            0.0                 0
 19222960     0000-00-00         8          4            NaN                 0
 24249679     0000-00-00         0          6            0.0                 0
 20212740     0000-00-00         8          2            0.0                 0
 12876344     0000-00-00         5          2            0.0                 0
 ...                 ...       ...        ...            ...               ...
 22139352     0000-00-00         5          2            0.0                 0
 23729223     0000-00-00         0          4            0.0                 0
 360848       0000-00-00         0          6            0.0                 0
 3804210      0000-00-00         0          6            0.0                 0
 6634684      0000-00-00         0          6            0.0                 0

               my_last_updated my_tags  user_id
 6338865   2017-07-09 16:56:15     NaN    20570
 19222960  2014-04-10 22:34:23     NaN    20415
 24249679  2012-01-02 11:44:15     NaN     8335
 20212740  2016-10-26 20:22:52     NaN     7761
 12876344  2017-07-18 21:29:19     NaN    15877
 ...                       ...     ...      ...
 22139352  2012-01-18 22:44:31     NaN     3959
 23729223  2011-07-11 06:16:22     NaN     3221
 360848    2014-11-23 03:53:03     NaN     4201
 3804210   2008-09-15 15:39:27     NaN    18166
 6634684   2014-06-25 03:45:28     NaN     6009

 [6257 rows x 12 columns])

In [11]:
for row in train_df.itertuples():
    print(row)
    break

Pandas(Index=27830841, username='Shortredguy', anime_id=5682, my_watched_episodes=0, my_start_date='0000-00-00', my_finish_date='0000-00-00', my_score=0, my_status=6, my_rewatching=0.0, my_rewatching_ep=0, my_last_updated='2010-12-21 01:19:25', my_tags=nan, user_id=6361)

In [12]:
print(train_df.itertuples(index=False).__next__()._fields)

('username', 'anime_id', 'my_watched_episodes', 'my_start_date', 'my_finish_date', 'my_score', 'my_status', 'my_rewatching', 'my_rewatching_ep', 'my_last_updated', 'my_tags', 'user_id')

In [13]:
anime_df[(anime_df['user_id']==40352)] #  & (anime_df['anime_id']==indToId[3])

Empty DataFrame
Columns: [username, anime_id, my_watched_episodes, my_start_date, my_finish_date, my_score, my_status, my_rewatching, my_rewatching_ep, my_last_updated, my_tags, user_id]
Index: []

In [14]:
n_users = anime_df['user_id'].nunique()
n_items = anime_df['anime_id'].nunique()

In [15]:
train_df.sort_values(by='user_id')

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags,user_id
12140562,blender1423,11887,13,0000-00-00,0000-00-00,7,2,0.0,0,2017-09-04 13:42:06,NaN,0
10344541,Saranyaan,28223,12,0000-00-00,2016-10-31,0,2,NaN,0,2016-10-31 09:16:19,NaN,1
11017077,werewolfofusa,12069,1,0000-00-00,0000-00-00,10,2,0.0,0,2012-03-21 20:22:44,NaN,2
9601319,wizardsky,24277,24,0000-00-00,0000-00-00,8,2,0.0,0,2017-01-27 18:37:34,NaN,3
3151701,zillys,33,25,0000-00-00,0000-00-00,10,2,NaN,0,2015-09-13 18:57:23,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...
26519102,SpiritQ,6574,12,2010-01-12,2010-04-01,9,2,NaN,0,2010-04-01 20:39:12,NaN,24004
4247933,AugustusGaspar,34984,0,0000-00-00,0000-00-00,0,6,0.0,0,2017-08-05 06:03:14,NaN,24005
25906237,eau-de-gloom,19383,13,0000-00-00,0000-00-00,8,2,0.0,0,2018-03-26 11:49:58,NaN,24006
26583048,pabblete,8795,13,0000-00-00,0000-00-00,8,2,NaN,0,2011-04-08 23:27:18,NaN,24007
3962380,idlezeal,6007,1,0000-00-00,0000-00-00,6,2,0.0,0,2010-05-01 08:09:21,NaN,24008

In [16]:
# Training dataset
train_ds = np.zeros((n_users, n_items))
for row in train_df.itertuples():
    train_ds[row.user_id, idToInd[row.anime_id]] = row.my_score
train_ds = pd.DataFrame(train_ds)

# Testing dataset
test_ds = np.zeros((n_users, n_items))
for row in test_df.itertuples():
    test_ds[row.user_id, idToInd[row.anime_id]] = row.my_score
test_ds = pd.DataFrame(test_ds)

train_ds, test_ds

(       0     1     2     3     4     5     6     7     8     9     ...  4307  \
 0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 3       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 ...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
 24004   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24005   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24006   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24007   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24008   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0

        4308  4309  4310  4311  4312  4313  4314  4315  4316
 0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 3       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 ...     ...   ...   ...   ...   ...   ...   ...   ...   ...
 24004   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24005   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24006   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24007   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24008   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

 [24009 rows x 4317 columns],
        0     1     2     3     4     5     6     7     8     9     ...  4307  \
 0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 3       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 ...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
 24004   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24005   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24006   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24007   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0
 24008   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0

        4308  4309  4310  4311  4312  4313  4314  4315  4316
 0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 1       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 3       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 ...     ...   ...   ...   ...   ...   ...   ...   ...   ...
 24004   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24005   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24006   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24007   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 24008   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

 [24009 rows x 4317 columns])

# Fitting the Algorithm

## User-based

### Compute Pearson Correlation Coefficient for Each Pair of Users in Training Dataset

In [ ]:
GAMMA = 30
EPSILON = 1e-9

np_user_pearson_corr = np.zeros((n_users, n_users))

for i, user_i_vec in enumerate(train_ds.values):
    for j, user_j_vec in enumerate(train_ds.values):

        # ratings corated by the current pair od users
        mask_i = user_i_vec > 0
        mask_j = user_j_vec > 0

        # corrated item index, skip if there are no corrated ratings
        corrated_index = np.intersect1d(np.where(mask_i), np.where(mask_j))
        if len(corrated_index) == 0:
            continue

        # average value of user_i_vec and user_j_vec
        mean_user_i = np.sum(user_i_vec) / (np.sum(np.clip(user_i_vec, 0, 1)) + EPSILON)
        mean_user_j = np.sum(user_j_vec) / (np.sum(np.clip(user_j_vec, 0, 1)) + EPSILON)

        # compute pearson corr
        user_i_sub_mean = user_i_vec[corrated_index] - mean_user_i
        user_j_sub_mean = user_j_vec[corrated_index] - mean_user_j

        r_ui_sub_r_i_sq = np.square(user_i_sub_mean)
        r_uj_sub_r_j_sq = np.square(user_j_sub_mean)

        r_ui_sum_sqrt = np.sqrt(np.sum(r_ui_sub_r_i_sq))
        r_uj_sum_sqrt = np.sqrt(np.sum(r_uj_sub_r_j_sq))

        sim = np.sum(user_i_sub_mean * user_j_sub_mean) / (r_ui_sum_sqrt * r_uj_sum_sqrt + EPSILON)

        # significance weighting
        weighted_sim = (min(len(corrated_index), GAMMA) / GAMMA) * sim

        np_user_pearson_corr[i][j] = weighted_sim

np_user_pearson_corr

### Predict Ratings

In [ ]:
np_predictions = np.zeros((n_users, n_items))

K = 100
EPSILON = 1e-9

for (i, j), rating in np.ndenumerate(test_ds.values):
    if rating > 0:
        # find top-k most similar users as the current user, remove itself
        sim_user_ids = np.argsort(np_user_pearson_corr[i])[-(K + 1):-1]

        # the coefficient values of similar users
        sim_val = np_user_pearson_corr[i][sim_user_ids]

        # the average value of the current user's ratings
        sim_users = train_ds.values[sim_user_ids]
        user_mean = np.sum(train_ds.values[i]) / (np.sum(np.clip(train_ds.values[i], 0, 1)) + EPSILON)
        sim_user_mean = np.sum(sim_users, axis=1) / (np.sum(np.clip(sim_users, 0, 1), axis=1) + EPSILON)

        # select the users who rated item j
        mask_rated_j = sim_users[:, j] > 0
        
        # sim(u, v) * (r_vj - mean_v)
        sim_r_sum_mean = sim_val[mask_rated_j] * (sim_users[mask_rated_j, j] - sim_user_mean[mask_rated_j])

        # filter unrated items
        #w = np.clip(sim_users[mask_rated_j, j], 0, 1)
        #sim_r_sum_mean *= w
        #print(sim_users[:, j])
        
        np_predictions[i][j] = user_mean + np.sum(sim_r_sum_mean) / (np.sum(sim_val[mask_rated_j]) + EPSILON)
        np_predictions[i][j] = np.clip(np_predictions[i][j], 0, 5)

### Evaluation

#### Mean Absolute Error (MAE)

In [ ]:
#==================MAE on Testing set===================#
labels = test_ds.values

# absolute error on all ratings
absolute_error = np.abs(np_predictions - labels)

# weight
weight = np.clip(labels, 0, 1)

# absoulte error on rated ratings
abs_error = absolute_error * weight

# MAE
MAE = np.sum(abs_error) / np.sum(weight)

print("MAE on Tesing set (User-based): " + str(MAE));

#### Root Mean Squared Error (RMSE)

In [ ]:
#==================RMSE on Testing set===================
labels = test_ds.values

# squared error on all ratings
squared_error = np.square(np_predictions - labels)
weight = np.clip(labels, 0, 1)

# squared error on rated ratings
squared_error = squared_error * weight

# RMSE
RMSE = np.sqrt(np.sum(squared_error) / np.sum(weight))

print("RMSE on Tesing set (User-based): " + str(RMSE));

## Item-based

### Compute Pearson Correlation Coefficient for Each Pair of Users in Training Dataset

In [ ]:
DELTA = 25
EPSILON = 1e-9

np_item_pearson_corr = np.zeros((n_items, n_items))

for i, item_i_vec in enumerate(train_ds.T.values):
    for j, item_j_vec in enumerate(train_ds.T.values):

        # ratings corated by the current pair od items
        mask_i = item_i_vec > 0
        mask_j = item_j_vec > 0

        # corrated index, skip if there are no corrated ratings
        corrated_index = np.intersect1d(np.where(mask_i), np.where(mask_j))
        if len(corrated_index) == 0:
            continue

        # average value of item_i_vec and item_j_vec
        mean_item_i = np.sum(item_i_vec) / (np.sum(np.clip(item_i_vec, 0, 1)) + EPSILON)
        mean_item_j = np.sum(item_j_vec) / (np.sum(np.clip(item_j_vec, 0, 1)) + EPSILON)

        # compute pearson corr
        item_i_sub_mean = item_i_vec[corrated_index] - mean_item_i
        item_j_sub_mean = item_j_vec[corrated_index] - mean_item_j

        r_ui_sub_ri_sq = np.square(item_i_sub_mean)
        r_uj_sub_rj_sq = np.square(item_j_sub_mean)

        r_ui_sub_ri_sq_sum_sqrt = np.sqrt(np.sum(r_ui_sub_ri_sq))
        r_uj_sub_rj_sq_sum_sqrt = np.sqrt(np.sum(r_uj_sub_rj_sq))

        sim = np.sum(item_i_sub_mean * item_j_sub_mean) / (r_ui_sub_ri_sq_sum_sqrt * r_uj_sub_rj_sq_sum_sqrt + EPSILON)

        # significance weighting
        weighted_sim = (min(len(corrated_index), DELTA) / DELTA) * sim

        np_item_pearson_corr[i][j] = weighted_sim

np_item_pearson_corr

### Predict Ratings

In [ ]:
np_predictions = np.zeros((n_users, n_items))

K = 10
EPSILON = 1e-9

for (i, j), rating in np.ndenumerate(test_ds.values):
    if rating > 0:
        # find top-k most similar items as the current item, remove itself
        sim_item_ids = np.argsort(np_item_pearson_corr[j])[-(K + 1):-1]

        # the coefficient values of similar items
        sim_val = np_item_pearson_corr[j][sim_item_ids]

        # the average value of the current item's ratings
        sim_items = train_ds.T.values[sim_item_ids]
        item_mean = np.sum(train_ds.T.values[j]) / (np.sum(np.clip(train_ds.T.values[j], 0, 1)) + EPSILON)
        sim_item_mean = np.sum(sim_items, axis=1) / (np.sum(np.clip(sim_items, 0, 1), axis=1) + EPSILON)

        # sim(u, v) * (r_v - mean_v)
        sim_r_sum_mean = sim_val * (sim_items[:, i] - sim_item_mean) 

        # filter unrated items
        w = np.clip(sim_items[:, i], 0, 1)
        sim_r_sum_mean *= w

        np_predictions[i][j] = item_mean + np.sum(sim_r_sum_mean) / (np.sum(sim_val * w) + EPSILON)    
        np_predictions[i][j] = np.clip(np_predictions[i][j], 0, 5)

### Evaluation

#### Mean Absolute Error (MAE)

In [ ]:
#==================MAE on Testing set===================#
labels = test_ds.values

# absolute error on all ratings
absolute_error = np.abs(np_predictions - labels)

# weight
weight = np.clip(labels, 0, 1)

# absoulte error on rated ratings
abs_error = absolute_error * weight

# MAE
MAE = np.sum(abs_error) / np.sum(weight)

print("MAE on Tesing set (Item-based): " + str(MAE));

#### Root Mean Squared Error (RMSE)

In [ ]:
#==================RMSE on Testing set===================#
labels = test_ds.values

# squared error on all ratings
squared_error = np.square(np_predictions - labels)
weight = np.clip(labels, 0, 1)

# squared error on rated ratings
squared_error = squared_error * weight

# RMSE
RMSE = np.sqrt(np.sum(squared_error) / np.sum(weight))

print("RMSE on Tesing set (Item-based): " + str(RMSE));